* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

:root {
    --dark-green:#596D48;
    --subtle-white: #E5E7EB;
    --red: rgb(214, 128, 128);
    --blue: rgb(145, 208, 236);
}

@font-face {
    font-family: 'NorseBold';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

img {
    width: 100px;
    height: 100px;
}

.cta {
    height: 100vh;
    display: flex;

    max-width: 1200px;
    margin: 0 auto;

    background-color: var(--subtle-white);
}

.form-visual {
    background-image: url(./img/form_image.jpg);
    background-size: contain;
    /* background-repeat: no-repeat; */
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-logo-text {
    color: white;
    font-family: 'NorseBold', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
}

.form-content {
    display: flex;
    flex-direction: column;

    padding-left: 20px;
}

.form-request {
    background-color: white;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.form-text {
    font-weight: bold; 
    padding-bottom: 20px;
    font-size: 20px;
}

label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight:600;
}

input {
    padding: 5px 10px;
    border:1px solid var(--subtle-white);
    border-radius: 4px;
    font-size: 16px;
}

input[type="password"]:invalid {
    border-color: var(--red);
}

input:focus {
    border-color: var(--blue);
    box-shadow: 0 0 5px rgba(145, 208, 236, 0.5); 
    outline: none; 
}

.name, .details, .password {
    display: flex;
    gap:20px;
    padding-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.create-account {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.submit-btn {
    padding-left: 20px;
}

button {
    color: white;
    background-color: var(--dark-green);
    font-weight: bold;
    font-size: 14px;

    padding: 10px 40px;
    border-radius: 8px;
    border: none;
}

a {
    text-decoration: none;
    color: var(--dark-green);

}

button:hover {
    background-color: #4a5b3c;
}

.create-account .form-text {
    padding-left: 20px;
}



